/*
print/global.css
*/


/* ----------------------------------- A ----------------------------------- */

a img {
  border-width: 0;
}


/* ----------------------------------- B ----------------------------------- */

blockquote {
  border-left-width: 0;
  border-right-width: 0;
  padding: 0;
  font-style: italic;
}

.bookNav .next,
.bookNav .prev,
.bookNavBottom,
.colAdditional,
.colSecondary,
#nav {
  display: none;
}

.bookNav {
  border: 0 solid #000;
  margin: 1em 0;
  text-align: center;
}

.bookNav .title {
  font-size: 1.1em;
  margin: 0;
}

.bookNav .chapter {
  font-size: 1em;
  font-weight: normal;
  margin: .2em 0 0 0;
}

.bookNavTop {
  border-bottom-width: 1pt;
  padding-bottom: .33em;
}


/* ----------------------------------- C ----------------------------------- */

.code {
  border: 0 solid #000;
  border-bottom-width: 1pt;
  border-top-width: 1pt;
  padding: 1em 0;
}

.codeHead {
  margin-bottom: -.5em;
}


/* ----------------------------------- D ----------------------------------- */

dl dd {
  padding-left: 26pt;
}


/* ----------------------------------- F ----------------------------------- */

#footer {
  border-top: 1pt solid #000;
  font-size: .8em;
  text-align: center;
}


/* ----------------------------------- G ----------------------------------- */

.grid {
  border-color: #000;
  border-width: 1pt;
  border-top-width: 3pt;
}

.grid tbody tr.divider td,
.grid tbody tr.divider th {
  border-top-width: 3pt;
}

.grid td,
.grid th {
  border-color: #000;
  border-width: 1pt;
}

.grid tbody tr.totals td,
.grid tbody tr.totals th {
  border-top-width: 5pt;
}


/* ----------------------------------- L ----------------------------------- */

#logo {
  margin: 0;
  text-align: center;
}


/* ----------------------------------- O ----------------------------------- */

ol, ul {
  padding-left: 26pt;
}


/* ----------------------------------- P ----------------------------------- */

pre {
  white-space: wrap;
}

